<h1>BlueIT Article</h1>
<h2>{{post.title}}</h2>
<div>
  <table>
    <tr>
      <td>
        Topic: {{post.topic}}
      </td>
    </tr>
    <tr>
      <td>
        Text: {{post.text}}
      </td>
    </tr>
    <tr>
      <td>
        User: {{post.username}}
      </td>
    </tr>
  </table>
  <a href="/auth/{{id}}/update">Edit post</a>
</div>
