<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<form action='/auth/{{id}}/update' method='post'>
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name='title' value="{{post.title}}">
  </div>
  <div>
    <label for="text">Article text:</label>
    <textarea type="text" id="lastname" name='text' value="">{{post.text}}</textarea>
  </div>
  <div>
    <label for="topic">Topic:</label>
    <select name="topic">
      <option value="javascript">JavaScript</option>
      <option value="tech">Tech</option>
      <option value="misc">Miscellaneous</option>
    </select>
  </div>
  <div>
    <button type="submit">
      Submit
    </button>
  </div>
</form>
